.titulo {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
    transform: skew(0deg, -1deg);
    span{
        background: #20c997;
        padding: 5px 35px;
        border-radius: 7px;
        color: #fff;
        text-shadow: 2px 2px 3px rgba(0,0,0,.4);
        box-shadow: 1px 1px 4px rgba(0,0,0,.55);
    }
}

tr{
    cursor: pointer !important;
}


