<section id="tabela" class="py-5">
    <div class="container">
        <h1 class="titulo">
            <span>{{ json.title }}</span>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <table id="tableSortExample" mdbTable class="z-depth-1">
                    <thead>
                        <tr class="bg-dark white-text">
                            <th *ngFor="let head of heads; let i = index" [mdbTableSort]="rows" 
                                [sortBy]='heads[i]' class='text-uppercase text-center'>
                                {{head | titlecase }}
                                <i class="ml-1 fas fa-sort"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of rows; let i = index" (click)="dados(el, json.title)">
                            <th width='15%' scope="row">{{el.id}}</th>
                            <td width='25%'>{{ el.name }}</td>
                            <td>{{ el.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
